*{
  margin:0;
  padding:0;
  box-sizing: 0;
}

body {
  background-image: url(../public/img/fondo.png);
  background-position: center;
  display: flex;
}

 .nav-item{
  font-size: 30px;
  font-weight: bolder;
}
.nav-link{
  color: #f0f8ff;
  margin-left: 50px;
}

.Promociones-de-pago{
text-align: center;
margin-top: 600px;
margin-bottom: 20px;
}

.Accesorios{
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  
}
.card{
  padding: 20px;
  margin-left: 130px;
  justify-content: center;
  display: flex;
  text-align: center;
}
.precio1 , .precio2{
  font-size: 20px;
  font: bolder;
}
